package $dto-package;

#foreach($column in $sql-table.getColumns())
    #if($column.isImportNeeded())
$column.getJavaType().getImportPath();
    #end
#end

import lombok.Getter;
import lombok.Setter;

@Getter
@Setter
public class $dto-class {

#foreach($column in $sql-table.getColumns())
    private $column.getJavaType().getLabel() $column.getName();

#end
}
