package $dto-package;

#foreach($column in $sql-table.getColumns())
#if($column.getJavaType().isImportNeeded())
import $column.getJavaType().getImportPath();
#end
#end
#foreach($enum-import in $enum-imports)
import $enum-import;
#end

import lombok.Getter;
import lombok.Setter;

@Getter
@Setter
public class $dto-class {

#foreach($column in $sql-table.getColumns())
    private $column.getJavaTypeDefinition().getLabel() $column.getName();
#end

}
