package $entity-package;

#foreach($column in $sql-table.getColumns())
#if($column.getJavaTypeDefinition().getJavaType().isImportNeeded())
import $column.getJavaType().getImportPath();
#end
#end
#foreach($enum-import in $enum-imports)
import $enum-import;
#end

import lombok.Getter;
import lombok.Setter;

import javax.persistence.*;

@Getter
@Setter
@Entity
@Table(name = "$sql-table.getName()")
public class $entity-class {

#foreach($column in $sql-table.getColumns())
#if ($column.isPrimaryKey())
    @Id
    @GeneratedValue(strategy = GenerationType.AUTO)
#if ($column.getFormattedParameters() == "")
    @Column(name = "${entity}_id")
#else
    @Column(name = "${entity}_id", $column.getFormattedParameters())
#end
#else
#if ($column.getFormattedParameters() == "")
    @Column
#else
    @Column($column.getFormattedParameters())
#end
#end
#if ($column.getDefaultValue())
    private $column.getJavaTypeDefinition().getLabel() $column.getName() = $column.getDefaultValue();

#else
    private $column.getJavaTypeDefinition().getLabel() $column.getName();

#end
#end
}
