spring:
    jpa:
        hibernate:
            ddl-auto: create
    datasource:
        url: jdbc:${datasource-dialect}://${datasource-host}:${datasource-port}/${datasource-db-name}?useUnicode=${datasource-use-unicode}&serverTimezone=${datasource-server-timezone}&createDatabaseIfNotExist=${datasource-create-table-if-not-exist}
        username: $datasource-username
        password: $datasource-password
        driverClassName: $datasource-driver
server:
    port:
        $server-port